@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-lightBeige: #ede8d7;
  --color-midBeige1: #D8CFBC;
  --color-midBeige2: #C9C5B1;
  --color-midBeige3: #787569;
  --color-darkBeige1: #545249;
  --color-darkBeige2: #33322c;
  --color-darkBeige3: #151411;
  --font-playfair: "Playfair Display", sans-serif;

  @keyframes pulse-and-scale {
    0% {
      transform: scale(0.2);
      opacity: 0;
    }
    40% {
      transform: scale(1.5);
      opacity: 1;
    }
    60% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(0.2);
      opacity: 0;
    }
  }

  @keyframes wave {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(-10%) translateY(-10%);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }  
}

@layer components {
  .border-r {
    @apply border border-red-500;
  }
}

*{
  overscroll-behavior: none;
  /* overflow-x: hidden; */
}

.intro-container {
  background-color: black;
  transition: opacity 0.5s ease-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* makes animation invisible and unclickable --> removes it essentially */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.wave-effect {
  position: absolute;
  inset: -50%;
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 10px,
    #ede8d703 10px,
    #D8CFBC03 20px
  );
  animation: wave 7s ease-in-out infinite;
}

.wave-effect2 {
  position: absolute;
  inset: -50%;
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 10px,
    #ede8d70d 10px,
    #d8cfbc0d 20px
  );
  animation: wave 7s ease-in-out infinite;
}

.crg {
  animation: pulse-and-scale 3.25s ease-out infinite;
}

.prose {
  max-width: 100% !important;
}