@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-lightBeige: #ede8d7;
  --color-midBeige1: #d8cfbc;
  --color-midBeige2: #c9c5b1;
  --color-midBeige3: #787569;
  --color-darkBeige1: #545249;
  --color-darkBeige2: #33322c;
  --color-darkBeige3: #151411;
  --font-playfair: "Playfair Display", sans-serif;

  @keyframes pulse-and-scale {
    0% {
      transform: scale(0.2);
      opacity: 0;
    }
    40% {
      transform: scale(1.5);
      opacity: 1;
    }
    60% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(0.2);
      opacity: 0;
    }
  }

  @keyframes wave {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(-10%) translateY(-10%);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
}

@layer components {
  .border-r {
    @apply border border-red-500;
  }
}

* {
  overscroll-behavior: none;
  text-underline-offset: 2px;
  /* overflow-x: hidden; */
}

.intro-container {
  background-color: black;
  transition: opacity 0.5s ease-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* makes animation invisible and unclickable --> removes it essentially */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.wave-effect {
  position: absolute;
  inset: -50%;
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 10px,
    #ede8d703 10px,
    #d8cfbc03 20px
  );
  animation: wave 7s ease-in-out infinite;
}

.wave-effect2 {
  position: absolute;
  inset: -50%;
  width: 200%;
  height: 200%;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 10px,
    #ede8d70d 10px,
    #d8cfbc0d 20px
  );
  animation: wave 7s ease-in-out infinite;
}

.crg {
  animation: pulse-and-scale 3.25s ease-out infinite;
}

.prose {
  max-width: 100% !important;
}

/* queries */

/* jam img (big)*/

@media (min-width: 768px) and (max-width: 1200px) {
  .jam {
    width: 40vw;
    height: auto;
    top: 10vh;
  }
}

@media (min-width: 1100px) and (max-width: 1400px) {
  .jam {
    width: 35vw;
    height: auto;
    top: 20vh;
  }
}

@media (min-width: 768px) and (max-width: 1010px) {
  .jam {
    width: 33vw;
    height: auto;
    top: 15vh;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .jam {
    width: 25vw;
    height: auto;
    top: 15vh;
    opacity: 90%;
  }
}

@media (min-width: 768px) and (max-width: 837px) and (max-height: 575px) {
  .jam {
    width: 25vw;
    height: auto;
    top: 15vh;
    opacity: 50%;
  }
}

@media (min-width: 380px) and (max-width: 767px) {
  .jam {
    width: 90vw;
    height: auto;
  }
}

@media (min-width: 380px) and (max-width: 767px) {
  .jam {
    width: 90vw;
    height: auto;
  }
}

@media (min-width: 1100px) and (max-height: 660px){
  .jam{
    width: 30vw;
    height: auto;
  }

  .home{
    height: 100vh;
  }
}

/* description */

@media (min-width: 768px) and (max-width: 1100px) {
  .description {
    width: 30vw;
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 880px) {
  .description {
    width: 30vw;
    font-size: 0.75rem;
  }
}

@media (max-height: 680px) {
  .description {
    width: 30vw;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) and (max-height: 800px){
  .description{
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 900px) and (min-height: 570px) and (max-height: 770px) {
  .description {
    width: 35vw;
    font-size: 0.65rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) and (max-height: 590px) {
  .description {
    width: 35vw;
    font-size: 0.6rem;
  }
}

@media (min-width: 900px) and (max-width: 1200px) and (min-height: 570px) and (max-height: 670px) {
  .description {
    width: 35vw;
    font-size: 0.65rem;
  }
}

@media (min-width: 800px) and (max-width: 1200px) and (max-height: 570px) {
  .description {
    width: 35vw;
    font-size: 0.50rem;
  }
}

@media (min-width: 900px) and (max-width: 990px){
  .description {
    width: 35vw;
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 788px){
  .description {
    width: 35vw;
    font-size: 0.7rem;
  }
}

@media (min-width: 1100px) and (max-width: 1400px) and (min-height: 680px){
  .description {
    width: 35vw;
    font-size: 0.8rem;
  }
}

/*  */

@media (min-width: 980px) and (max-width: 1200px) and (min-height: 779px) {
  .h1descr{
    background-color: #ede8d780;
    border-radius: 6px;
    font-size: 0.8rem;
    padding-left: 5px;
    padding-right: 5px;
  }
} 

@media (max-height: 800px){
  .h1descr{
    background-color: #ede8d780;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* jam1 */

@media (min-width: 768px) and (max-height: 650px){
  .jam1{
    width: 28vw;
  }
}

@media (min-width: 768px) and (max-height: 550px){
  .jam1{
    width: 20vw;
  }
}

@media (min-width: 1100px) and (max-height: 660px){
  .jam1{
    width: 20vw;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .connect4 {
    font-size: 0.8rem;
  }
}

@media (min-width: 1100px) and (max-width: 1200px){
  .connect4{
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) and (max-width: 1010px) {
  .jam {
    width: 33vw;
    height: auto;
    top: 15vh;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .sidediv{
    font-size: 0.9rem;
  }
  .tauria{
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .linkedin {
    right: 4px;
    left: auto;
    top: 4px;
    bottom: auto;
  }

  .h1descr{
    background-color: #ede8d780;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 1200px) and (max-width: 1340px) {
  .linkedin {
    right: 4px;
    left: auto;
    top: 4px;
    bottom: auto;
  }
}

@media (min-width: 768px) and (max-width: 927px) {
  .sidediv {
    height: 90%;
  }
}

@media(min-width: 1500px){
  .jam{
    width: 20vw;
    opacity: 95%;
    margin-top: 4rem;
  }

  .sidediv{
    font-size: 1rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .jam1{
    width: 20vw;
  }
}

@media(min-width: 1500px) and (max-height: 680px){
  .jam{
    width: 30vw;
    opacity: 95%;
    margin-top: 4rem;
  }
  .jam1{
    width: 15vw;
  }
}